@import 'app.variables'

.button-container {
    margin: 10px 0;
}

.centered {        
    text-align: center;
}

.error-msg {
    font-size: 10px;
    color: $negative;
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}