@import 'app.variables'

.button-container {
    margin: 10px 0;
}

.button-spinner {
    position: absolute;
    margin-left: 6px;
    margin-top: -3px;
}

.centered {        
    text-align: center;
}

.error-msg {
    font-size: 10px;
    color: $negative;
}

.card-content-spinner {
    display flex;
    justify-content:center;
    align-items: center;
    height: 10vh;
}
